!!!
head
  link(href="/css/general.css", rel="stylesheet")
  meta(charset="utf-8")
  meta(name="keywords", content="click, video, video productions")
  meta(name="description", content="Click is a video procuction company based in vienna.")
  link(href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700", rel="stylesheet")
  title Click!
body


  header
    h1#logo: span Click! Film Productions


  section#main
    #intro
      h2.tagline
        span We are designing + producing videos for the internet.

      p.
        <span class="click">Click!</span> is a Vienna based Production Company.
        We make video production easy and affordable. We believe every video
        has its own unique purpose, so you tell us what you like the video to
        do for you and we just take it from there.

    section#demo-reel.dark
      <iframe width="560" height="420" src="http://www.youtube.com/embed/N9oxmRT2YWw" frameborder="0" allowfullscreen></iframe>

    section.light
      h1 Projects

      p List of cool projects to come.

  footer
    div Fernando Romero Forsthuber
    div: a(href="tel:+436802371385") +43 680 2371 385
    div: a(href="mailto:office@letsclickagain.com") office@letsclickagain.com
