@import "nib"

global-reset()
reset-html5()


*
  box-sizing border-box

html
body
  height 100%

body
  background #fafafa
  font-family "Open sans", arial, sans-serif
  font-size 15px
  color #777
  line-height 180%

a
  color inherit

p
  margin 30px 0

h1
h2
h3
  margin 70px 0 70px 0

h1
  font-size 2.5em
h2
  font-size 2em
h3
  font-size 1.5em


.click
  color #DC1E19




header
  margin 40px auto
  width 960px
  h1#logo
    width 210px
    height 155px
    margin 0 auto 80px auto
    padding 0
    background url("../images/logo.png") no-repeat top left
    span
      display none


#main
  margin 40px 0 40px 0

  text-align center

  section.dark
  section.light
    border-top 1px solid #e0e0e0
    padding 80px 0

    h1:first-of-type
      margin-top 0

  section.dark
    background #f0f0f0
  section.light
    background #fafafa

  section:last-of-type
    padding-bottom 150px


  #intro
    h2.tagline
      width 720px
      height 130px
      margin 0 auto 100px auto
      background url("../images/tagline.png") no-repeat top left
      position relative
      span
        display none
      &:after
        content ""
        width 48px
        height 70px
        background url("../images/arrow.png") no-repeat top left
        display block
        position absolute
        bottom -70px
        left 50%
        margin-left -(@width/2)

    p
      border-top 1px solid #eee
      padding-top 10px
      margin-left auto
      margin-right auto
      margin-bottom 80px
      text-align justify
      width 550px

footer
  background #2C2C2C
  fixed bottom left
  right 0
  height 40px
  line-height @height
  text-align center
  color #eee
  a
    text-decoration none

  > div
    display inline-block
    &:after
      margin 0 10px
      content " | "
      color darken(@color, 10%)
    &:last-of-type
      &:after
        content ""
        margin 0
